APP_NAME=Butterfly

PORT=3000

DAISY_HOST=http://localhost:3000

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=butterfly
MONGO_USERNAME=
MONGO_PASSWORD=

REDIS_HOST=localhost:6379

SOCKET_PORT=18088

AWS_DEFAULT_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_MONGO_BACKUP_PATH=

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

EMAIL_NOREPLY=
EMAIL_SUPPORT=

IREDIUM_CRYPTO_PASSWORD=

FCM_PROJECTID=
FCM_CLIENTEMAIL=
FCM_PRIVATEKEY=
FCM_DATABASENAME=
